*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 3rem 4rem;
}
img.logo {
    width: 100px;
}
p.logo-content {
    border: 2px solid hotpink;
    width: 100px;
    height: 30px;
    border-radius: 14px;
    color: hotpink;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ........................................body-content............................................... */

.body-content {
    padding: 30px 0px;
}

h2.head-content {
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    padding-top: 10px;
    
}
p.middle-content {
    text-align: center;
    font-size: 1.6rem;
    padding: 20px 0px;
}
h5.last-content {
    border: 2px solid hotpink;
    width: 300px;
    height: 40px;
    background-color: hotpink;
    color: white;
    text-align: center;
    border-radius: 20px;
    padding: 10px 0px;
    margin: auto;
}

/* ........................................img-mockups............................................... */

.img-section {
    padding: 30px 0px;
    display: flex;
    justify-content: center;
}
img.img-mockup {
    width: 70%;
    height: auto;
}

/* ........................................body-content............................................... */

.section-k {
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
}
h2.k-heading {
    font-size: 5rem;
    padding: 5px 0px;
}
p.content {
    text-align: center;
    font-size: 18px;
    color: gray;
}

.k-heading-2 {
    font-size: 5rem;
    padding: 5px 0px;
}
.k-content-2 {
    text-align: center;
    font-size: 18px;
    color: gray;
}

/* ........................................body-content............................................... */

.grow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e5eef3;
    padding: 3rem 0rem;
    margin: 2rem 0rem;
}

h2.grow-heading {
    font-size: 3rem;
    font-weight: 700;
    padding: 5px 0px;
}
p.grow-content {
    font-size: 1rem;
    text-align: start;
}
img.grow-img {
    width: 400px;
}

/* ........................................body-content............................................... */

.flowing-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 4rem 0px;
}
img.flowing-img {
    width: 400px;
}
h2.flowing-heading {
    font-size: 2rem;
    line-height: 40px;
}
p.flowing-content {
    font-size: 1rem;
    line-height: 22px;
}


/* ........................................body-content............................................... */



.user-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e5eef3;
    padding: 2rem 0rem;
    margin: 2rem 0rem;
}
img.user-img {
    width: 400px;
}
h2.user-heading{
    font-size: 2rem;
    line-height: 50px;
}

/* ........................................body-content............................................... */

.build-section {
    margin: 6rem 0rem;
}
h2.build {
    font-size: 3rem;
    text-align: center;
    /* line-height: 95px; */
    padding: 20px 0px;
}
    
p.build-content {
    border: 2px solid hotpink;
    width: 300px;
    height: 50px;
    background: hotpink;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto;
}
/* ........................................body-content............................................... */
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    margin: 1rem 0rem;
    padding: 50px 0px;
}
p.footer-one {
    color: white;
    padding: 8px 0px;
}
h2.footer-one-content {
    color: white;
}
.icon-two {
    color: white;
    font-size: 30px;
    padding: 4px 0px;
}
::before {
    color: white;
}
.fa-regular, .far {
    font-weight: 400;
    color: lightgray;
}
.fa-solid, .fas {
    font-weight: 900;
    color: lightgray;
}
h2.footer-two-content {
    color: white;
    font-size: 32px;
}
p.footer-content {
    color: white;
    font-size: 16px;
    padding: 5px 0px;
}
input.form-01 {
    border-radius: 4px;
    border: none;
    width: 200px;
    height: 30px;
}
button.btn-1 {
    width: 100px;
    height: 30px;
    border-radius: 4px;
    border: none;
    background-color: hotpink;
    color: white;
}
.form {
    margin: 5px 0px;
}



